@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: auto;
    justify-content: flex-end;
    padding-bottom: 0.07rem;
    /* font-size: 0.7rem; */
    color: #d4d4d4;
}

footer .lastcontainer {
    padding-bottom: 0.7rem;
    text-align: center;
    align-items: center;
}
